<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Report</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />

</head>
<body>
  <div class="pageHeader"><!--header div-->
    <nav class="homeLink"><a href="/"><span class="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav class="navPages"><!--nav to pages-->
        <a href="survey">Survey</a>
        <a href="dashboard">Dashboard</a>
        <a href="login">Login</a>
        <a href="addaccount">Add User</a>
        <a href="report">Report</a>
    </nav>
</div>
    <label><b>All Surveys:</b></label>
    <div class="filterReportBody">
      <form action="/report" method="get" class="form-container">
          <fieldset>
              <legend>Filter</legend>
              <label for="filterEntryID">User Number</label>
              <input type="number" id="entry_id_filter" name="entry_id_filter">
              <button type="submit">Filter</button>
          </fieldset>
      </form>
  </div>
   <br><br>
   <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
     <thead style="background-color: cornflowerblue; color: white;">
       <tr>
         <th style="text-align: left;">User Number</th>
         <th style="text-align: left;">City</th>
         <th style="text-align: left;">Age</th>
         <th style="text-align: left;">Gender</th>
         <th style="text-align: left;">Relationship Status</th>
         <th style="text-align: left;">Occupation</th>
         <th style="text-align: left;">University Affiliation</th>
         <th style="text-align: left;">Private Affiliation</th>
         <th style="text-align: left;">School Affiliation</th>
         <th style="text-align: left;">Company Affiliation</th>
         <th style="text-align: left;">Government Affiliation</th>
         <th style="text-align: left;">N/A Affiliation</th>
         <th style="text-align: left;">Uses Social Media</th>
         <th style="text-align: left;">Uses Facebook</th>
         <th style="text-align: left;">Uses Twitter/X</th>
         <th style="text-align: left;">Uses Instagram</th>
         <th style="text-align: left;">Uses Youtube</th>
         <th style="text-align: left;">Uses Discord</th>
         <th style="text-align: left;">Uses Reddit</th>
         <th style="text-align: left;">Uses Pinterest</th>
         <th style="text-align: left;">Uses TikTok</th>
         <th style="text-align: left;">Uses Snapchat</th>
         <th style="text-align: left;">Daily Usage</th>
         <th style="text-align: left;">Feels Purposeless</th>
         <th style="text-align: left;">Feels Distraced</th>
         <th style="text-align: left;">Feels Restless</th>
         <th style="text-align: left;">Easily Distracted</th>
         <th style="text-align: left;">Bothered By Worries</th>
         <th style="text-align: left;">Difficulty To Concentrate</th>
         <th style="text-align: left;">Compares To Others</th>
         <th style="text-align: left;">Comparison Feelings</th>
         <th style="text-align: left;">Seeks Validation</th>
         <th style="text-align: left;">Feels Depressed</th>
         <th style="text-align: left;">Daily Activity Interest Fluctuates</th>
         <th style="text-align: left;">Issues With Sleep</th>
       </tr>
     </thead>
     <tbody style="font-family: Arial; font-size: 9pt;">
      <% for (let iCount = 0; iCount < mySurveys.length; iCount++) { %>
         <tr>
           <td style="text-align: center;"><%= mySurveys[iCount].entry_id %></td>
           <td style="text-align: center;"><%= mySurveys[iCount].city %></td>
           <td style="text-align: center;"><%= mySurveys[iCount].age %></td>
           <td style="text-align: center;"><%= mySurveys[iCount].gender %></td>
           <td style="text-align: center;"><%= mySurveys[iCount].relationship_status %></td>
           <td style="text-align: center;"><%= mySurveys[iCount].occupation_status %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].university_affiliation == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <%}%></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].private_affiliation == 'Y'){ %>
            Yes
            <%} else { %>
            No
            <%} %></td>
           <td style="text-align: center;"> <% if(mySurveys[iCount].school_affiliation == 'Y'){ %>
            Yes
            <%} else {%>
            No
            <%} %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].company_affiliation == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].government_affiliation == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].na_affiliation == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].social_media_use == 'Y'){ %>
            Yes
            <%} else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].facebook_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].twitter_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].instagram_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].youtube_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].discord_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].reddit_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].pinterest_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].tiktok_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].snapchat_use == 'Y'){ %>
            Yes
            <% } else { %>
            No
            <% } %></td>
           <td style="text-align: center;"><%= mySurveys[iCount].average_time %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].no_purpose_frequency == 1){ %>
            Rarely
            <% } else if (mySurveys[iCount].no_purpose_frequency == 2){ %>
            Occasionally
            <% } else if (mySurveys[iCount].no_purpose_frequency == 3){ %>
            Sometimes
            <% } else if (mySurveys[iCount].no_purpose_frequency == 4){ %>
            Frequently
            <%} else { %>
            Always
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].distracted_frequency == 1){ %>
            Rarely
            <% } else if (mySurveys[iCount].distracted_frequency == 2){ %>
            Occasionally
            <% } else if (mySurveys[iCount].distracted_frequency == 3){ %>
            Sometimes
            <%} else if (mySurveys[iCount].distracted_frequency == 4){ %>
            Frequently
            <%} else { %>
            Always
            <%} %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].restless_feeling == 1){ %>
            Not At All
            <%} else if (mySurveys[iCount].restless_feeling == 2){ %>
            Slightly
            <% } else if (mySurveys[iCount].restless_feeling == 3){ %>
            Moderately
            <% } else if (mySurveys[iCount].restless_feeling == 4){ %>
            Quite A Bit
            <%} else { %>
            Extremely
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].easily_distracted == 1){ %>
            Not At All
            <%} else if (mySurveys[iCount].easily_distracted == 2){%>
            Slightly
            <% } else if (mySurveys[iCount].easily_distracted == 3){ %>
            Moderately
            <%} else if (mySurveys[iCount].easily_distracted == 4){ %>
            Quite A Bit
            <%} else { %>
            Extremely
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].bothered == 1){ %>
            Not At All
            <%} else if (mySurveys[iCount].bothered == 2){ %>
            Slightly
            <%}else if (mySurveys[iCount].bothered == 3){ %>
            Moderately
            <%} else if (mySurveys[iCount].bothered == 4){ %>
            Quite A Bit
            <%}else { %>
            Extremely
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].concentration_difficulty == 1){ %>
            Not At All
            <% } else if (mySurveys[iCount].concentration_difficulty == 2){ %>
            Slightly
            <% } else if (mySurveys[iCount].concentration_difficulty == 3){ %>
            Moderately
            <%} else if (mySurveys[iCount].concentration_difficulty == 4){ %>
            Quite A Bit
            <%}else { %>
            Extremely
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].comparison_frequency == 1){ %>
            Rarely
            <%} else if (mySurveys[iCount].comparison_frequency == 2){ %>
            Occasionally
            <%}else if (mySurveys[iCount].comparison_frequency == 3){ %>
            Sometimes
            <%}else if (mySurveys[iCount].comparison_frequency == 4){ %>
            Frequently
            <%} else { %>
            Always
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].comparison_feeling == 1){ %>
            Very Poor
            <%} else if (mySurveys[iCount].comparison_feeling == 2){%>
            Poor
            <%} else if (mySurveys[iCount].comparison_feeling == 3){ %>
            Neutral
            <%} else if (mySurveys[iCount].comparison_feeling == 4){ %>
            Good
            <%} else { %>
            Very Good
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].seek_validation_frequency == 1){ %>
            Rarely
            <%}else if (mySurveys[iCount].seek_validation_frequency == 2){ %>
            Occasionally
            <% }else if (mySurveys[iCount].seek_validation_frequency == 3){ %>
            Sometimes
            <% } else if (mySurveys[iCount].seek_validation_frequency == 4){ %>
            Frequently
            <% }else { %>
            Always
            <% } %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].depressed_frequency == 1){ %>
            Rarely
            <%} else if (mySurveys[iCount].depressed_frequency == 2){ %>
            Occasionally
            <%}else if (mySurveys[iCount].depressed_frequency == 3){ %>
            Sometimes
            <%}else if (mySurveys[iCount].depressed_frequency == 4){ %>
            Frequently
            <%}else {%>
            Always
            <%} %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].daily_activity_fluctuate == 1){ %>
            Rarely
            <%}else if (mySurveys[iCount].daily_activity_fluctuate == 2){ %>
            Occasionally
            <%}else if (mySurveys[iCount].daily_activity_fluctuate == 3){ %>
            Sometimes
            <%}else if (mySurveys[iCount].daily_activity_fluctuate == 4){ %>
            Frequently
            <%}else { %>
            Always
            <%} %></td>
           <td style="text-align: center;"><% if(mySurveys[iCount].sleep_issues == 1){ %>
            Rarely
            <%} else if (mySurveys[iCount].sleep_issues == 2){ %>
            Occasionally
            <%}else if (mySurveys[iCount].sleep_issues == 3){ %>
            Sometimes
            <%}else if (mySurveys[iCount].sleep_issues == 4){ %>
            Frequently
            <%}else { %>
            Always
            <%} %></td>          
         </tr>
      <% } %>
     </tbody>
   </table>
</body>
</html>