<!--This page renders the report and connects to the RDS-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mental Health Report</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700" rel="stylesheet" type="text/css" />

</head>
<body>
  <div class="pageHeader"><!--header div-->
    <nav class="homeLink"><a href="/"><span class="logo" style="color: #B3DC97;">Provo Mental Health</span></a><!--link to home--></nav><nav class="navPages"><!--nav to pages-->
        <a href="survey">Survey</a>
        <a href="dashboard">Dashboard</a>
        <a href="login">Login</a>
        <a href="addaccount">Add User</a>
        <a href="report">Report</a>
        <a href="resources">Resources</a>
    </nav>
</div>
<!--This form uses filters and sends the filters to the proper route-->
<div style="position: absolute; top: 11%;">
    <div class="filterReportBody">
      <form action="/filterReport" method="get" class="form-container">
        <h2 class="subSub alignLeft" style="margin: 1%;">Filters:</h2>
              <label for="filterEntryID">User Number</label>
              <input type="number" id="entry_id_filter" name="entry_id_filter" autofocus>
              <label for="filterAge">Age</label>
              <input type="number" id="age_filter" name="age_filter">
              <label for="filterGender">Gender</label>
              <select id="gender_filter" name="gender_filter">
                <option value="" > </option> <!--This is a blank option with no value-->
                <option value="1" >Male</option>
                <option value="2">Female</option>
                <option value="3">Non-binary</option>
                <option value="4">Transgender</option>
                <option value="5">Other</option>
              </select>
              <label for="filterRel">Relationship Status</label>
              <select id="rel_filter" name="rel_filter">
                <option value="" > </option>
                <option value="1">Single</option>
                <option value="2">In a relationship</option>
                <option value="3">Married</option>
                <option value="4">Divorced</option>
              </select>
              <label for="filterOcc">Occupation</label>
              <select id="occ_filter" name="occ_filter">
                <option value="" > </option>
                <option value="1">University Student</option>
                <option value="2">School Student</option>
                <option value="3">Salaried Worker</option>
                <option value="4">Retired</option>
                <option value="5">Unemployed</option>
              </select>
              <label for="filterCity">City</label>
              <select id="city_filter" name="city_filter">
                <option value="" > </option>
                <option value="1">Plainsville</option>
                <option value="2">Provo</option>
                <option value="3">Other</option>
              </select>
              <br>
              <button type="submit">Filter</button>
              <!--This gets the form again without the filter-->
              <form action="/report" method="get" class="form-container">
                <button type="submit">Reset</button>
              </form>
      </form>
  </div>
   <br><br>
   <div class="tableContainer">
    <!--This dynamically creates the entire report-->
   <table>
       <tr>
        <th>User Number</th>
        <th>City</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Relationship Status</th>
        <th>Occupation</th>
        <th>University Affiliation</th>
        <th>Private Affiliation</th>
        <th>School Affiliation</th>
        <th>Company Affiliation</th>
        <th>Government Affiliation</th>
        <th>N/A Affiliation</th>
        <th>Uses Social Media</th>
        <th>Uses Facebook</th>
        <th>Uses Twitter/X</th>
        <th>Uses Instagram</th>
        <th>Uses Youtube</th>
        <th>Uses Discord</th>
        <th>Uses Reddit</th>
        <th>Uses Pinterest</th>
        <th>Uses TikTok</th>
        <th>Uses Snapchat</th>
        <th>Daily Usage</th>
        <th>Feels Purposeless</th>
        <th>Feels Distracted</th>
        <th>Feels Restless</th>
        <th>Easily Distracted</th>
        <th>Bothered By Worries</th>
        <th>Difficulty To Concentrate</th>
        <th>Compares To Others</th>
        <th>Comparison Feelings</th>
        <th>Seeks Validation</th>
        <th>Feels Depressed</th>
        <th>Daily Activity Interest Fluctuates</th>
        <th>Issues With Sleep</th>        
       </tr>
      <% for (let iCount = 0; iCount < mySurveys.length; iCount++) { %>
         <tr>
          <td><%= mySurveys[iCount].entry_id %></td>
          <td><%= mySurveys[iCount].city %></td>
          <td><%= mySurveys[iCount].age %></td>
          <td><%= mySurveys[iCount].gender %></td>
          <td><%= mySurveys[iCount].relationship_status %></td>
          <td><%= mySurveys[iCount].occupation_status %></td>
          <td>
            <% if(mySurveys[iCount].university_affiliation == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <%}%>
          </td>
          <td>
            <% if(mySurveys[iCount].private_affiliation == 'Y'){ %>
              Yes
            <%} else { %>
              No
            <%} %>
          </td>
          <td>
            <% if(mySurveys[iCount].school_affiliation == 'Y'){ %>
              Yes
            <%} else {%>
              No
            <%} %>
          </td>
          <td>
            <% if(mySurveys[iCount].company_affiliation == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].government_affiliation == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].na_affiliation == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].social_media_use == 'Y'){ %>
              Yes
            <%} else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].facebook_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].twitter_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].instagram_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].youtube_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].discord_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].reddit_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].pinterest_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].tiktok_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].snapchat_use == 'Y'){ %>
              Yes
            <% } else { %>
              No
            <% } %>
          </td>
          <td><%= mySurveys[iCount].average_time %></td>
          <td>
            <% if(mySurveys[iCount].no_purpose_frequency == 1){ %>
              Rarely
            <% } else if (mySurveys[iCount].no_purpose_frequency == 2){ %>
              Occasionally
            <% } else if (mySurveys[iCount].no_purpose_frequency == 3){ %>
              Sometimes
            <% } else if (mySurveys[iCount].no_purpose_frequency == 4){ %>
              Frequently
            <%} else { %>
              Always
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].distracted_frequency == 1){ %>
              Rarely
            <% } else if (mySurveys[iCount].distracted_frequency == 2){ %>
              Occasionally
            <% } else if (mySurveys[iCount].distracted_frequency == 3){ %>
              Sometimes
            <%} else if (mySurveys[iCount].distracted_frequency == 4){ %>
              Frequently
            <%} else { %>
              Always
            <%} %>
          </td>
          <td>
            <% if(mySurveys[iCount].restless_feeling == 1){ %>
              Not At All
            <%} else if (mySurveys[iCount].restless_feeling == 2){ %>
              Slightly
            <% } else if (mySurveys[iCount].restless_feeling == 3){ %>
              Moderately
            <% } else if (mySurveys[iCount].restless_feeling == 4){ %>
              Quite A Bit
            <%} else { %>
              Extremely
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].easily_distracted == 1){ %>
              Not At All
            <%} else if (mySurveys[iCount].easily_distracted == 2){%>
              Slightly
            <% } else if (mySurveys[iCount].easily_distracted == 3){ %>
              Moderately
            <%} else if (mySurveys[iCount].easily_distracted == 4){ %>
              Quite A Bit
            <%} else { %>
              Extremely
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].bothered == 1){ %>
              Not At All
            <%} else if (mySurveys[iCount].bothered == 2){ %>
              Slightly
            <%}else if (mySurveys[iCount].bothered == 3){ %>
              Moderately
            <%} else if (mySurveys[iCount].bothered == 4){ %>
              Quite A Bit
            <%}else { %>
              Extremely
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].concentration_difficulty == 1){ %>
              Not At All
            <% } else if (mySurveys[iCount].concentration_difficulty == 2){ %>
              Slightly
            <% } else if (mySurveys[iCount].concentration_difficulty == 3){ %>
              Moderately
            <%} else if (mySurveys[iCount].concentration_difficulty == 4){ %>
              Quite A Bit
            <%}else { %>
              Extremely
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].comparison_frequency == 1){ %>
              Rarely
            <%} else if (mySurveys[iCount].comparison_frequency == 2){ %>
              Occasionally
            <%}else if (mySurveys[iCount].comparison_frequency == 3){ %>
              Sometimes
            <%}else if (mySurveys[iCount].comparison_frequency == 4){ %>
              Frequently
            <%} else { %>
              Always
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].comparison_feeling == 1){ %>
              Very Poor
            <%} else if (mySurveys[iCount].comparison_feeling == 2){%>
              Poor
            <%} else if (mySurveys[iCount].comparison_feeling == 3){ %>
              Neutral
            <%} else if (mySurveys[iCount].comparison_feeling == 4){ %>
              Good
            <%} else { %>
              Very Good
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].seek_validation_frequency == 1){ %>
              Rarely
            <%}else if (mySurveys[iCount].seek_validation_frequency == 2){ %>
              Occasionally
            <% }else if (mySurveys[iCount].seek_validation_frequency == 3){ %>
              Sometimes
            <% } else if (mySurveys[iCount].seek_validation_frequency == 4){ %>
              Frequently
            <% }else { %>
              Always
            <% } %>
          </td>
          <td>
            <% if(mySurveys[iCount].depressed_frequency == 1){ %>
              Rarely
            <%} else if (mySurveys[iCount].depressed_frequency == 2){ %>
              Occasionally
            <%}else if (mySurveys[iCount].depressed_frequency == 3){ %>
              Sometimes
            <%}else if (mySurveys[iCount].depressed_frequency == 4){ %>
              Frequently
            <%}else {%>
              Always
            <%} %>
          </td>
          <td>
            <% if(mySurveys[iCount].daily_activity_fluctuate == 1){ %>
              Rarely
            <%}else if (mySurveys[iCount].daily_activity_fluctuate == 2){ %>
              Occasionally
            <%}else if (mySurveys[iCount].daily_activity_fluctuate == 3){ %>
              Sometimes
            <%}else if (mySurveys[iCount].daily_activity_fluctuate == 4){ %>
              Frequently
            <%}else { %>
              Always
            <%} %>
          </td>
          <td>
            <% if(mySurveys[iCount].sleep_issues == 1){ %>
              Rarely
            <%} else if (mySurveys[iCount].sleep_issues == 2){ %>
              Occasionally
            <%}else if (mySurveys[iCount].sleep_issues == 3){ %>
              Sometimes
            <%}else if (mySurveys[iCount].sleep_issues == 4){ %>
              Frequently
            <%}else { %>
              Always
            <%} %>
          </td>        
         </tr>
      <% } %>
   </table>
  </div>
  </div>
</body>
</html>